body{
	background-image: url('../img/fundo.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}
label{
	color: #B9C558;
	font-size: 30px;
}
.class{
	font-weight: bolder;
}
#id{
	font-size: 40px;
}